<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="inventoryUpdateForm" class="container-fluid text-light" >
    <div class="alert alert-success position-absolute end-0 top-0 mt-3 me-3 w-25  alert-dismissible fade"
         role="alert"
         th:classappend="${updateSuccess}?'show'">
      <span>Update Complete!</span>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div class="alert alert-danger position-absolute end-0 top-0 mt-3 me-3 w-25  alert-dismissible fade"
         role="alert"
         th:classappend="${updateFail}?'show'">
      <span>Update Fail!</span>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div class="alert alert-danger position-absolute end-0 top-0 mt-3 me-3 w-25  alert-dismissible fade"
         role="alert"
         th:classappend="${updateSearchNotFound}?'show'">
      <span>Update Inventory Product Not Found!</span>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <h2 class="text-center py-md-4 py-sm-5">Inventory Product Update</h2>

    <div class="row justify-content-center align-items-center align-items-md-start h-auto">
        <form class="d-flex justify-content-center align-items-center align-items-md-start h-auto"
              th:action="@{/inventory/update}" th:object="${searchQuery}" method="post">
            <div th:insert="~{fragments/product/inventoryManipulateSearchForm.html :: manipulateInventoryProductSearchForm}" class="col-10 col-lg-8"></div>
        </form>

        <form class="d-flex justify-content-center align-items-center align-items-md-start h-auto"
              th:action="@{/inventory/update}" th:object="${updateInventoryDto}" method="post" id="multiForm">
            <div th:insert="~{fragments/product/inventoryInfoForm.html :: inventoryInfoForm}" class="col-11 col-md-10 col-lg-8"></div>

            <!-- Hidden ID field -->
            <input type="hidden" th:field="*{id}" />
        </form>
    </div>

</div>
</body>
</html>