<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="inventoryDashBoard" class="row">
        <div class="col-12 col-lg-4">
            <div class="chart-container"
                 id="char1"
                 th:data-url="@{/api/inventory/chart/vendor/gender}"
                 th:data-name="#{header.inventory.dashboard.chart.sub1}"
                 data-charttype="doughnut">
                <canvas></canvas>
            </div>
        </div>
        <div class="col-12 col-lg-4 mt-5 mt-lg-0">
            <div class="chart-container"
                 id="char2"
                 th:data-url="@{/api/inventory/chart/vendor}"
                 th:data-name="#{header.inventory.dashboard.chart.sub2}"
                 data-charttype="doughnut">
                <canvas></canvas>
            </div>
        </div>
        <div class="col-12 col-lg-4 mt-5 mt-lg-0">
            <div class="chart-container"
                 id="char3"
                 th:data-url="@{/api/inventory/chart/company}"
                 th:data-name="#{header.inventory.dashboard.chart.sub3}"
                 data-charttype="doughnut">
                <canvas></canvas>
            </div>
        </div>
        <div class="col-12 col-lg-6 mt-5 mt-lg-0" style="height: 300px">
            <div class="chart-container"
                 id="char4"
                 th:data-url="@{/api/inventory/chart/price}"
                 th:data-name="#{header.inventory.dashboard.chart.sub4}"
                 data-charttype="bar">
                <canvas></canvas>
            </div>
        </div>

        <div class="col-12 col-lg-6 pt-md-0 pt-lg-3 mt-5">
            <h4 th:text="#{header.inventory.dashboard.sub}"></h4>
            <table class="table-style w-100 view-table">
                <thead>
                    <tr class="w-100">
                        <th th:text="#{header.inventory.product.category.name}"></th>
                        <th th:text="#{header.inventory.product.count}"></th>
                        <th th:text="#{header.inventory.product.category.total}"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="itemData : ${dashBoardCategory}">
                        <td th:text="${itemData.name}"></td>
                        <td th:text="${itemData.count}"></td>
                        <td th:text="${itemData.totalPrice}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>