<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>

<!--				Employment Info-->
<div th:fragment="employeeInfoForm">
  <h5 class="my-2 text-center" th:text="#{header.employee.sub}">Employment Info</h5>
  <div class="row row-cols-1 row-cols-md-2">
    <div class="col">
      <div class="mb-3 my-3">
        <label th:for="${employmentDate}"
               th:text="#{header.employee.empDate}"
               class="form-label"></label>
        <input type="date" class="form-control"
               th:field="*{employmentDate}"
               th:classappend="${#fields.hasErrors('employmentDate')} ? 'form-control-invalid' : ''">
        <div class="invalid-feedback"
             th:if="${#fields.hasErrors('employmentDate')}"
             th:errors="*{employmentDate}">
        </div>
      </div>
    </div>

    <div class="col">
      <div class="mb-3 my-3">
        <label th:for="${employmentType}"
               th:text="#{header.employee.empType}"
               class="form-label"></label>
        <input type="text" class="form-control suggest-input"
               th:placeholder="#{header.employee.empType}"
               th:field="*{employmentType}"
               th:classappend="${#fields.hasErrors('departmentName')} ? 'form-control-invalid' : ''"
               th:data-url="@{/api/suggest/employmenttype}"
               th:autocomplete="#{autocomplete.status}"
               th:data-fetcherConfig="${'repeat'}"
        >
        <div class="invalid-feedback"
             th:if="${#fields.hasErrors('employmentType')}"
             th:errors="*{employmentType}">
        </div>
      </div>
    </div>

    <div class="col">
      <div class="mb-3 my-3">
        <label th:for="${departmentName}"
               th:text="#{header.employee.depName}"
               class="form-label"></label>
        <input type="text" class="form-control suggest-input"
               th:placeholder="#{header.employee.depName}"
               th:field="*{departmentName}"
               th:classappend="${#fields.hasErrors('departmentName')} ? 'form-control-invalid' : ''"
               th:data-url="@{/api/suggest/departmentname}"
               th:autocomplete="#{autocomplete.status}"
               th:data-fetcherConfig="${'repeat'}"
        >
        <div class="invalid-feedback"
             th:if="${#fields.hasErrors('departmentName')}"
             th:errors="*{departmentName}">
        </div>
      </div>
    </div>

    <div class="col">
      <div class="mb-3 my-3">
        <label th:for="${salary}" class="form-label">Salary</label>
        <div class="input-group">
          <span class="input-group-text">$</span>
          <input type="number" class="form-control"
                 th:placeholder="#{header.employee.empSalary}"
                 th:field="*{salary}"
                 th:classappend="${#fields.hasErrors('salary')} ? 'form-control-invalid' : ''">
          <div class="invalid-feedback"
               th:if="${#fields.hasErrors('salary')}"
               th:errors="*{salary}">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-end gap-2">
    <button type="button" class="btn btn-primary form-prev-btn">Previous</button>
    <button type="submit" class="btn btn-primary" name="submit">Submit</button>
  </div>
</div>

</body>
</html>