<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="employeeTable">
  <form th:action="@{/employees}" th:object="${employeeData}" method="post">
    <table  class="table-style">
      <thead>
      <tr>
<!--        <th th:each="head : *{header}" th:text="${head}"></th>-->
      </tr>
      </thead>
      <tbody>
      <tr th:if="*{listData == null or listData.isEmpty()}">
        <td>No Data</td>
      </tr>

      <tr th:each="dataItem,dataStat : *{listData}">
        <td><input type="text" th:field="*{listData[__${dataStat.index}__].firstName}"></td>
        <td><input type="text" th:field="*{listData[__${dataStat.index}__].lastName}"></td>
        <td><input type="date" th:field="*{listData[__${dataStat.index}__].dateOfBirth}"></td>
        <td><input type="text" th:field="*{listData[__${dataStat.index}__].gender}"></td>
        <td><input type="email" th:field="*{listData[__${dataStat.index}__].email}"></td>
        <td><input type="text" th:field="*{listData[__${dataStat.index}__].phone}"></td>

        <td><input type="text" th:field="*{listData[__${dataStat.index}__].address.countryCode}"></td>
        <td><input type="text" th:field="*{listData[__${dataStat.index}__].address.city}"></td>
        <td><input type="text" th:field="*{listData[__${dataStat.index}__].address.street}"></td>
        <td><input type="text" th:field="*{listData[__${dataStat.index}__].address.apartment}"></td>

        <td><input type="date" th:field="*{listData[__${dataStat.index}__].employmentDate}"></td>
        <td><input type="text" th:field="*{listData[__${dataStat.index}__].employmentType}"></td>
        <td><input type="text" th:field="*{listData[__${dataStat.index}__].departmentCategory.departmentName}"></td>
        <td><input type="number" th:field="*{listData[__${dataStat.index}__].salary}"></td>
      </tr>
      </tbody>
    </table>

    <button type="submit" name="addRow">Add Row</button>
    <button type="submit" name="submit">Submit</button>

  </form>
</div>

</body>
</html>