<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="customerView"
         class="container-fluid">
        <h3 class="my-3" th:text="#{header.customer.sub.view}"></h3>
        <div class="row">
            <form th:insert="~{fragments/customer/customerViewSearchForm.html :: viewCustomerSearchForm}"
                  th:action="@{/customer/viewsearch}"
                  th:object="${searchQuery}"
                  method="post"
                  class="col-12">
            </form>
            <!-- View Table -->
            <div th:insert="~{fragments/customer/customerTableView.html :: viewCustomerTable}"
                 class="col-12 overflow-auto">
            </div>
        </div>

        <div class="alert alert-success position-absolute end-0 top-0 mt-3 me-3 w-25 alert-dismissible fade"
             role="alert"
             th:classappend="${viewFail}?'show'">
            <span th:text="#{header.customer.alert.search.notfound}"></span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div class="alert alert-success position-absolute end-0 top-0 mt-3 me-3 w-25 alert-dismissible fade"
             role="alert"
             th:classappend="${viewFailForNumber}?'show'">
            <span th:text="#{header.customer.alert.search.mustnumber}"></span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
</body>
</html>