<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="customerRegisterForm">
  <!--Employee Register Form Done-->
  <div class="container-fluid text-light" >
    <form th:action="@{/customer/add}" th:object="${addCustomerDto}" method="post" id="multiForm">
      <div class="alert alert-success position-absolute end-0 top-0 mt-3 me-3 w-25 alert-dismissible fade"
           role="alert"
           th:classappend="${registerSuccess}?'show'">
        <span>Register Complete!</span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <div class="alert alert-danger position-absolute end-0 top-0 mt-3 me-3 w-25 alert-dismissible fade"
           role="alert"
           th:classappend="${registerFail}?'show'">
        <span>Register Fail!</span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <h2 class="text-center py-md-4 py-sm-5">Customer Registration</h2>
      <div class="row justify-content-center align-items-sm-center align-items-md-start h-auto">
        <div th:insert="~{fragments/common/personalInfoForm.html :: personalInfoForm}" class="col-11 col-md-10 col-lg-8 form-step active"></div>
        <div th:insert="~{fragments/customer/customerAddressInfoForm.html :: customerAddressInfoForm}" class="col-11 col-md-10 col-lg-8 form-step"></div>
      </div>
    </form>
  </div>
</div>


</body>
</html>