<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>

<!--				Point Card Info-->
<div th:fragment="pointCardRegisterInfoForm">
  <h5 class="my-2 text-center" th:text="#{header.customer.pointcard.sub}"></h5>
  <div class="row row-cols-1 row-cols-md-2">
<!-- Customer Id Input-->
    <div class="col">
      <div class="mb-3 my-3">
        <label th:for="${customerId}"
               th:text="#{header.customer.id}"
               class="form-label"></label>
        <input type="text" class="form-control"
               th:placeholder="#{header.customer.id}"
               th:field="*{customerId}"
               th:classappend="${#fields.hasErrors('customerId')} ? 'form-control-invalid' : ''"
               th:autocomplete="#{autocomplete.status}"
        >
        <div class="invalid-feedback"
             th:if="${#fields.hasErrors('customerId')}"
             th:errors="*{customerId}">
        </div>
      </div>
    </div>
<!--Point card category select-->
    <div class="col">
      <div class="mb-3 my-3">
        <label th:for="${pointCardCategory}"
               th:text="#{header.customer.pointcard.category}"
               class="form-label"></label>
        <select class="form-select"
               th:field="*{pointCardCategory}"
               th:classappend="${#fields.hasErrors('pointCardCategory')} ? 'form-control-invalid' : ''">
          <option value="" selected>Select the category</option>
          <option th:each="item : ${pointCardCategoryList}" th:value="${item.id}" th:text="${item.type}"></option>
        </select>
        <div class="invalid-feedback"
             th:if="${#fields.hasErrors('pointCardCategory')}"
             th:errors="*{pointCardCategory}">
        </div>
      </div>
    </div>


</div>
  <div class="d-flex justify-content-end gap-2">
    <button type="submit" class="btn btn-primary" name="submit">Submit</button>
  </div>

</body>
</html>