<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>

<!--				Orders Info-->
<div th:fragment="ordersInfoForm">
  <h5 class="my-2 text-center" th:text="#{header.orders.sub}"></h5>
  <div class="row row-cols-1 row-cols-md-2">

<!--    Customer Name-->
    <div class="col">
      <div class="mb-3 my-3">
        <label th:for="${customerName}"
               th:text="#{header.orders.table.customer.name}"
               class="form-label"></label>
        <input type="text" class="form-control"
               th:field="*{customerName}"
               th:placeholder="#{header.orders.table.customer.name}"
               th:autocomplete="#{autocomplete.status}"
               th:classappend="${#fields.hasErrors('customerName')} ? 'form-control-invalid' : ''">
        <div class="invalid-feedback"
             th:if="${#fields.hasErrors('customerName')}"
             th:errors="*{customerName}">
        </div>
      </div>
    </div>

    <!--    Order Date -->
    <div class="col">
      <div class="mb-3 my-3">
        <label th:for="${orderDate}"
               th:text="#{header.orders.table.orders.date}"
               class="form-label"></label>
        <input type="text" class="form-control"
               th:field="*{orderDate}"
               th:placeholder="#{header.orders.table.orders.date}"
               th:autocomplete="#{autocomplete.status}"
               th:classappend="${#fields.hasErrors('orderDate')} ? 'form-control-invalid' : ''">
        <div class="invalid-feedback"
             th:if="${#fields.hasErrors('orderDate')}"
             th:errors="*{orderDate}">
        </div>
      </div>
    </div>

  </div>

  <div class="d-flex justify-content-end gap-2">
    <button type="submit" class="btn btn-primary" name="submit" th:text="#{header.button.submit}"></button>
  </div>
</div>

</body>
</html>